<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ISU TACOS</title>
		<link rel="icon" type="image/jpg" href="images/tacoicon.png">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		<p>Hello World!</p>
		<div>
			<img th:src="@{images/success.jpeg}" width="1000rem" alt="img">
		</div>
	</body>
</html>